Repository 0xkalvin/fortunator, pull requests merged in 2020-10, with the labels that each got.

#78 Add tests for registering and login users
  backend/src/main/java/com/fortunator/api/models/User.java
  backend/src/main/java/com/fortunator/api/service/UserService.java
  backend/src/test/java/com/fortunator/api/controller/HealthControllerTest.java
  backend/src/test/java/com/fortunator/api/controller/UserControllerTest.java
  backend/src/test/java/com/fortunator/api/service/UserServiceTest.java
Labels: backend, sprint 2, technical debt

#80 Add transaction category tests
  backend/src/main/java/com/fortunator/api/controller/TransactionCategoryController.java
  backend/src/main/java/com/fortunator/api/service/TransactionCategoryService.java
  backend/src/test/java/com/fortunator/api/controller/TransactionCategoryTest.java
  backend/src/test/java/com/fortunator/api/service/TransactionCategoryTest.java
Labels: backend, technical debt

#76 Criação de endpoints para cadastro de transação e para pegar as transações do usuário por ano e mês
  backend/pom.xml
  backend/src/main/java/com/fortunator/api/config/DevConfig.java
  backend/src/main/java/com/fortunator/api/controller/TransactionController.java
  backend/src/main/java/com/fortunator/api/controller/UserController.java
  backend/src/main/java/com/fortunator/api/controller/exceptions/ControllerExceptionHandler.java
  backend/src/main/java/com/fortunator/api/models/Balance.java
  backend/src/main/java/com/fortunator/api/models/Transaction.java
  backend/src/main/java/com/fortunator/api/models/TransactionCategory.java
  backend/src/main/java/com/fortunator/api/models/TransactionTypeEnum.java
  backend/src/main/java/com/fortunator/api/models/User.java
  backend/src/main/java/com/fortunator/api/repository/BalanceRepository.java
  backend/src/main/java/com/fortunator/api/repository/TransactionRepository.java
  backend/src/main/java/com/fortunator/api/service/BalanceService.java
  backend/src/main/java/com/fortunator/api/service/TransactionCategoryService.java
  backend/src/main/java/com/fortunator/api/service/TransactionService.java
  backend/src/main/java/com/fortunator/api/service/UserService.java
  backend/src/main/java/com/fortunator/api/service/exceptions/InsufficientFundsException.java
  backend/src/main/java/com/fortunator/api/service/exceptions/ResourceNotFoundException.java
  backend/src/main/resources/db/migration/V004__create-transaction.sql
  backend/src/main/resources/db/migration/V005__create-balance.sql
  backend/src/test/java/com/fortunator/api/service/BalanceServiceTest.java
  backend/src/test/java/com/fortunator/api/service/TransactionCategoryServiceTest.java
  backend/src/test/java/com/fortunator/api/service/TransactionServiceTest.java
Labels: backend

#75 Front register transaction
  frontend/package.json
  frontend/src/assets/wallet.gif
  frontend/src/components/Hamburguer.js
  frontend/src/pages/Home/index.js
  frontend/src/pages/Login/index.js
  frontend/src/pages/RegisterCategory/index.js
  frontend/src/pages/RegisterCategory/styles.css
  frontend/src/pages/RegisterTransaction/index.js
  frontend/src/pages/RegisterTransaction/styles.css
  frontend/src/routes.js
  frontend/yarn.lock
Labels: frontend

#85 Front extract
  frontend/src/components/Hamburguer.js
  frontend/src/components/NoLoginHamburguer.js
  frontend/src/pages/Extract/index.js
  frontend/src/pages/Extract/styles.css
  frontend/src/pages/Login/index.js
  frontend/src/pages/RegisterCategory/index.js
  frontend/src/pages/RegisterTransaction/index.js
Labels: frontend
