Repository 0xkalvin/fortunator, pull requests merged in 2020-09, with the labels that each got.

#6 readme: add basic project info
  README.md
Labels: documentation

#8 front: Init react app
  .gitignore
  frontend/README.md
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/index.css
  frontend/src/index.js
  frontend/src/logo.svg
  frontend/src/serviceWorker.js
  frontend/src/setupTests.js
  frontend/yarn.lock
Labels: frontend

#10 backend: start-spring-project
  .gitignore
  backend/mvnw
  backend/mvnw.cmd
  backend/pom.xml
  backend/src/main/java/com/fortunator/api/ApiApplication.java
  backend/src/main/java/com/fortunator/api/controller/HealthController.java
  backend/src/main/resources/application.properties
  backend/src/test/java/com/fortunator/backend/BackendApplicationTests.java
Labels: backend

#12 Dockerize application
  Makefile
  backend/Dockerfile
  backend/src/test/java/com/fortunator/backend/BackendApplicationTests.java
  docker-compose.yml
  frontend/.dockerignore
  frontend/Dockerfile
Labels: infra

#14 infra: add script setup for deploying to heroku
  backend/src/main/resources/application.properties
  deploy.sh
  docker-compose.yml
  frontend/Dockerfile
  frontend/local.Dockerfile
  frontend/nginx.config
Labels: infra

#16 infra: add continuous delivery
  .github/workflows/deploy.yml
  deploy.sh
Labels: infra

#21 infra: add continuous delivery
  .github/workflows/deploy.yml
  deploy.sh
Labels: infra

#23 Add test path
  backend/src/test/java/com/fortunator/api/ApiApplicationTests.java
Labels: backend

#18 backend: add response object in health check endpoint
  backend/pom.xml
  backend/src/main/java/com/fortunator/api/controller/HealthController.java
  backend/src/test/java/com/fortunator/api/controller/HealthControllerTest.java
Labels: backend

#26 Cria cadastro do usuário
  backend/local.Dockerfile
  backend/pom.xml
  backend/src/main/java/com/fortunator/api/controller/UserController.java
  backend/src/main/java/com/fortunator/api/controller/exceptions/ControllerExceptionHandler.java
  backend/src/main/java/com/fortunator/api/controller/exceptions/StandardError.java
  backend/src/main/java/com/fortunator/api/models/User.java
  backend/src/main/java/com/fortunator/api/repository/UserRepository.java
  backend/src/main/java/com/fortunator/api/service/UserService.java
  backend/src/main/java/com/fortunator/api/service/exceptions/EmailExistsException.java
  backend/src/main/resources/application-dev.properties
  backend/src/main/resources/application-prod.properties
  backend/src/main/resources/application.properties
  backend/src/main/resources/db/migration/V001__create-user-table.sql
  docker-compose.yml
Labels: backend

#33 Criando tela de cadastro
  backend/src/main/java/com/fortunator/api/controller/UserController.java
  docker-compose.yml
  frontend/package.json
  frontend/src/App.js
  frontend/src/assets/finger.gif
  frontend/src/global.css
  frontend/src/pages/UserRegister/index.js
  frontend/src/pages/UserRegister/styles.css
  frontend/src/routes.js
  frontend/src/service/api.js
  frontend/yarn.lock
Labels: frontend

#37 Add login
  frontend/package.json
  frontend/src/assets/register.gif
  frontend/src/global.css
  frontend/src/pages/Login/index.js
  frontend/src/pages/Login/styles.css
  frontend/src/pages/UserRegister/index.js
  frontend/src/pages/UserRegister/styles.css
  frontend/src/routes.js
  frontend/yarn.lock
Labels: frontend

#40 Criar endpoint de login
  backend/src/main/java/com/fortunator/api/controller/UserController.java
  backend/src/main/java/com/fortunator/api/controller/exceptions/ControllerExceptionHandler.java
  backend/src/main/java/com/fortunator/api/dto/LoginDTO.java
  backend/src/main/java/com/fortunator/api/service/UserService.java
  backend/src/main/java/com/fortunator/api/service/exceptions/UserNotFoundException.java
Labels: backend

#42 Add logo svg
  README.md
  frontend/public/favicon.ico
  frontend/public/fortunator.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/src/assets/fireworks.gif
  frontend/src/assets/logo-md.gif
  frontend/src/components/Logo.js
  frontend/src/global.css
  frontend/src/helpers/SVGHelper.js
  frontend/src/helpers/styles.css
  frontend/src/pages/Login/index.js
  frontend/src/pages/RegisterSuccess/index.js
  frontend/src/pages/RegisterSuccess/styles.css
  frontend/src/pages/UserRegister/index.js
  frontend/src/pages/UserRegister/styles.css
  frontend/src/routes.js
Labels: frontend

#47 Adicionar validações dos campos
  backend/pom.xml
  backend/src/main/java/com/fortunator/api/controller/UserController.java
  backend/src/main/java/com/fortunator/api/controller/exceptions/ControllerExceptionHandler.java
  backend/src/main/java/com/fortunator/api/controller/exceptions/Field.java
  backend/src/main/java/com/fortunator/api/controller/exceptions/StandardError.java
  backend/src/main/java/com/fortunator/api/dto/LoginDTO.java
  backend/src/main/java/com/fortunator/api/models/User.java
Labels: backend

#58 Adicionar swagger
  .gitignore
  backend/pom.xml
  backend/src/main/java/com/fortunator/api/controller/UserController.java
  backend/src/main/java/com/fortunator/api/models/User.java
  backend/src/main/java/com/fortunator/api/swagger/SwaggerConfig.java
  backend/src/main/java/com/fortunator/api/swagger/SwaggerConfigProperties.java
  backend/src/main/resources/application.properties
Labels: backend, documentation

#60 Adicionar dependência do frontend no docker-compose
  docker-compose.yml
Labels: infra

#56 Front authorization
  frontend/src/auth.js
  frontend/src/components/Hamburguer.js
  frontend/src/components/NoLoginHamburguer.js
  frontend/src/global.css
  frontend/src/helpers/styles.css
  frontend/src/pages/Home/index.js
  frontend/src/pages/Home/styles.css
  frontend/src/pages/Login/index.js
  frontend/src/pages/Login/styles.css
  frontend/src/pages/UserRegister/index.js
  frontend/src/routes.js
Labels: frontend

#54 Update README.md
  README.md
Labels: documentation

#63 front: fix routes redirect
  frontend/public/index.html
  frontend/src/components/NoLoginHamburguer.js
  frontend/src/pages/Home/index.js
  frontend/src/pages/Login/index.js
  frontend/src/routes.js
Labels: frontend

#68 docs: diagram cloudCraft
  README.md
  docs/cloudCraft.png
Labels: documentation
