Repository 0xkalvin/fortunator, pull requests merged in 2020-11, with the labels that each got.

#82 Update README.md
  README.md
Labels: documentation

#89 Add sonar
  README.md
  backend/sonar-scanner.properties
  frontend/sonar-project.properties
Labels: backend, frontend

#91 backend add tests
  backend/src/main/java/com/fortunator/api/controller/TransactionController.java
  backend/src/main/java/com/fortunator/api/controller/UserController.java
  backend/src/main/java/com/fortunator/api/dto/LoginDto.java
  backend/src/main/java/com/fortunator/api/repository/TransactionRepository.java
  backend/src/main/java/com/fortunator/api/service/TransactionService.java
  backend/src/test/java/com/fortunator/api/controller/TransactionCategoryTest.java
  backend/src/test/java/com/fortunator/api/controller/TransactionControllerTest.java
  backend/src/test/java/com/fortunator/api/service/TransactionServiceTest.java
Labels: backend, sprint 3, technical debt

#96 Backend create api to return expense details
  backend/src/main/java/com/fortunator/api/controller/FinancialMovementsController.java
  backend/src/main/java/com/fortunator/api/controller/UserController.java
  backend/src/main/java/com/fortunator/api/controller/entity/FinancialMovement.java
  backend/src/main/java/com/fortunator/api/controller/entity/Login.java
  backend/src/main/java/com/fortunator/api/controller/entity/MonthlyFinancialAmount.java
  backend/src/main/java/com/fortunator/api/controller/entity/MovementByCategory.java
  backend/src/main/java/com/fortunator/api/repository/TransactionRepository.java
  backend/src/main/java/com/fortunator/api/service/FinancialMovementsService.java
  backend/src/main/java/com/fortunator/api/service/TransactionService.java
  backend/src/test/java/com/fortunator/api/controller/TransactionControllerTest.java
  backend/src/test/java/com/fortunator/api/service/FinancialMovementsServiceTest.java
Labels: backend, sprint 3

#98 Front dashboard
  backend/src/main/java/com/fortunator/api/controller/FinancialMovementsController.java
  backend/src/main/java/com/fortunator/api/service/TransactionService.java
  frontend/package.json
  frontend/public/index.html
  frontend/src/components/Chart.js
  frontend/src/components/Hamburguer.js
  frontend/src/pages/Home/index.js
  frontend/src/pages/Home/styles.css
  frontend/src/pages/Login/index.js
  frontend/src/routes.js
  frontend/yarn.lock
Labels: frontend

#103 front: take off alert
  frontend/src/pages/Login/index.js
Labels: frontend

#106 backend gamefication
  backend/src/main/java/com/fortunator/api/config/DevConfig.java
  backend/src/main/java/com/fortunator/api/controller/GoalController.java
  backend/src/main/java/com/fortunator/api/models/Goal.java
  backend/src/main/java/com/fortunator/api/models/Level.java
  backend/src/main/java/com/fortunator/api/models/LevelNameEnum.java
  backend/src/main/java/com/fortunator/api/models/User.java
  backend/src/main/java/com/fortunator/api/repository/LevelRepository.java
  backend/src/main/java/com/fortunator/api/schemas/CreateGoalSchema.java
  backend/src/main/java/com/fortunator/api/schemas/UpdateGoalSchema.java
  backend/src/main/java/com/fortunator/api/service/GoalService.java
  backend/src/main/java/com/fortunator/api/service/UserService.java
  backend/src/main/resources/db/migration/V009__add-progress-to-goals.sql
  backend/src/main/resources/db/migration/V010__create-level.sql
  backend/src/main/resources/db/migration/V011__alter-column-level-in-users-table.sql
  backend/src/test/java/com/fortunator/api/controller/GoalControllerTest.java
  backend/src/test/java/com/fortunator/api/service/GoalServiceTest.java
Labels: backend, sprint 4

#108 Backend update user data
  backend/src/main/java/com/fortunator/api/controller/UserController.java
  backend/src/main/java/com/fortunator/api/controller/entity/UpdateUser.java
  backend/src/main/java/com/fortunator/api/service/UserService.java
  backend/src/test/java/com/fortunator/api/service/UserServiceTest.java
Labels: backend, sprint 4

#110 Backend delete category
  backend/src/main/java/com/fortunator/api/config/DevConfig.java
  backend/src/main/java/com/fortunator/api/controller/TransactionCategoryController.java
  backend/src/main/java/com/fortunator/api/models/TransactionCategory.java
  backend/src/main/java/com/fortunator/api/service/TransactionCategoryService.java
  backend/src/main/resources/db/migration/V012__alter-add-column-active-in-category.sql
  backend/src/test/java/com/fortunator/api/controller/TransactionCategoryControllerTest.java
  backend/src/test/java/com/fortunator/api/service/TransactionCategoryServiceTest.java
Labels: backend, sprint 4

#112 Backend reset pass
  backend/pom.xml
  backend/src/main/java/com/fortunator/api/config/DevConfig.java
  backend/src/main/java/com/fortunator/api/controller/UserController.java
  backend/src/main/java/com/fortunator/api/controller/entity/EmailToResetPass.java
  backend/src/main/java/com/fortunator/api/service/UserService.java
  backend/src/main/resources/application.properties
Labels: backend, sprint 4

#114 backend fix user update
  backend/src/main/java/com/fortunator/api/controller/entity/UpdateUser.java
  backend/src/main/java/com/fortunator/api/controller/exceptions/ControllerExceptionHandler.java
  backend/src/main/java/com/fortunator/api/service/TransactionCategoryService.java
  backend/src/main/java/com/fortunator/api/service/UserService.java
  backend/src/main/java/com/fortunator/api/service/exceptions/InvalidPassword.java
  backend/src/test/java/com/fortunator/api/service/UserServiceTest.java
Labels: backend, sprint 4

#116 Front metas
  backend/src/main/java/com/fortunator/api/service/TransactionCategoryService.java
  frontend/package.json
  frontend/src/assets/goal.gif
  frontend/src/components/Chart.js
  frontend/src/components/Hamburguer.js
  frontend/src/pages/Goals/index.js
  frontend/src/pages/Goals/styles.css
  frontend/src/pages/Home/index.js
  frontend/src/pages/Login/index.js
  frontend/src/pages/Login/styles.css
  frontend/src/pages/Profile/index.js
  frontend/src/pages/Profile/styles.css
  frontend/src/pages/RegisterGoal/index.js
  frontend/src/pages/RegisterGoal/styles.css
  frontend/src/pages/RegisterTransaction/index.js
  frontend/src/routes.js
  frontend/yarn.lock
Labels: frontend, sprint 4
