Repository 0xkalvin/fortunator, pull requests merged in 2020-12, with the labels that each got.

#120 backend create endpoint to filter by category id
  backend/src/main/java/com/fortunator/api/config/DevConfig.java
  backend/src/main/java/com/fortunator/api/controller/TransactionController.java
  backend/src/main/java/com/fortunator/api/service/FinancialMovementsService.java
  backend/src/main/java/com/fortunator/api/service/TransactionService.java
  backend/src/test/java/com/fortunator/api/controller/TransactionControllerTest.java
  backend/src/test/java/com/fortunator/api/service/FinancialMovementsServiceTest.java
  backend/src/test/java/com/fortunator/api/service/TransactionServiceTest.java
Labels: backend, sprint 4

#121 Front spring4 adjusts
  frontend/src/pages/Extract/index.js
  frontend/src/pages/Goals/index.js
  frontend/src/pages/RegisterGoal/index.js
  frontend/src/pages/RegisterTransaction/index.js
Labels: frontend

#123 front alter table
  frontend/src/pages/Home/index.js
Labels: frontend, sprint 4
